@using QuizGame.Web.Code.LIBS;
@using QuizGame.Dto;
@using QuizGame.Web.Models.Others;

@{
    ViewBag.Title = "Admin User- Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/datatables/css", "~/Content/css/bootstrap-switch.css", "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/Content/select2")

<section class="content-header">
    <h1>
        User
        @*@LF.Resource.AdminUserRes.PageHeading*@
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_Notification")
            <div class="box">
                <div class="box-header">
                    <div class="btn-group">
                        @{
                            ActionAllowedDto act = (ActionAllowedDto)ViewBag.actionAllowed;
                            if (act.AllowCreate)
                            {
                                @Html.ActionLink("Add User", "createedit",new { },new {@class="btn btn-primary" });
                                @*@(Html.Raw(Html.InsertButton(Url.Action("createedit", "user"))))*@
                            }
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive scroll_tbl">
                        <table id="grid-index" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Active</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Modal", new Modal { ID = "modal-delete-adminuser", AreaLabeledId = "modal-delete-adminuser-label", Size = QuizGame.Core.Enums.ModalSize.Medium })

@section scripts{
    @Scripts.Render("~/bundles/datatables", "~/bundles/jqueryval", "~/bundles/datepicker", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js")
    @Scripts.Render("~/Scripts/Custom/adminuser/index.js")
}

